body {
	background-image: url("../img/background.jpg");
	font-family: "Roboto";
}

h1 {
	
}

#frame {
	width: 1200px;
	flow-direction: column;
	margin: auto;
}

#header {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#navbar {
	display: flex;
	flow-direction: row;
	justify-content: space-between;
}

.navbtn {
	display: flex;
	flex-direction: column;
	width: 24.5%;
	height: 45px;
	justify-content: center;
	align-items: center;
	background-color: rgb(153, 153, 153);
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 18px;
	transition: 0.2s;
	text-decoration: none;
	color: black;
}

.navbtn:hover {
	background-color: rgba(153, 153, 153, 0.6);
}

.selected {
	background-color: rgba(153, 153, 153, 0.6);
}

#body {
	background-color: rgba(102, 102, 102, 0.85);
}

#content {
	padding: 20px;
}